# Archivos de configuración de IDEs/editor específicos
.idea
.idea/

# Directorios de entornos virtuales
venv
venv/
.env

# Caches de pruebas
.cache
.pytest_cache/

# Carpeta ignore con archivo ignore_me de EJEMPLO
ignore/
ignore/ignore_me

#Si la carpeta ya estaba añadida a Git, para borrarla hayq ue hacerlo desde la terminal.
#para borrarla: git rm -r --cached ignore
#hacer el commit para guardar cambios: git commit -m "Removed 'ignore' folder from tracking"