# Archivos de configuración de IDEs/editor específicos
.idea
.idea/

# Directorios de entornos virtuales
venv
venv/

# Caches de pruebas
.cache
.pytest_cache/

# Carpeta ignore con archivo ignore_me
ignore/
ignore/ignore_me