#Especificar las dependencias de paquetes que deben instalarse para que el proyecto funcione correctamente.
#Para que te instale estos requirements, escribir en la terminal: pip install -r requirements.txt

Mastodon.py
pytest
pandas


